body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: linear-gradient(45deg, rgba(204, 209, 211, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-box {
  display: flex;
  flex-direction: column;
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  height: 450px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 0.2px 1px 1px 7px rgb(24, 24, 26);
  box-sizing: border-box;
  overflow: hidden;
  animation: rainbow 16s linear infinite;
}

.chat-box:before,
.chat-box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: transparent;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 15px;
  z-index: -1;
  animation: pulsate 16s ease-out infinite;
}

.chat-box:before {
  box-shadow: 0 0 5px rgba(255,0,0,0.3), 
              0 0 10px rgba(255,0,0,0.2), 
              0 0 15px rgba(255,0,0,0.2), 
              0 0 20px red;
  animation-delay: .2s;
}

.chat-box:after {
  box-shadow: 0 0 5px rgba(255,0,0,0.3), 
              0 0 10px rgba(255,0,0,0.2), 
              0 0 15px rgba(255,0,0,0.2), 
              0 0 20px red;
}

.chat-box-header,
.chat-box-body,
.chat-box-input {
  padding: 20px;
}

.chat-box-header {
  background-color: #4285F4;
  color: #FFFFFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chat-box-body {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-logs {
  margin-top: 20px;
}

.chat-msg {
  margin-bottom: 20px;
}

.chat-msg.self {
  text-align: right;
}

.chat-msg-text {
  background-color: #4285F4;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
}

.chat-msg.user .chat-msg-text {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}

.chat-input form {
  display: flex;
  margin-top: auto;
}

.chat-input input {
  margin-top: auto;
  flex-grow: 1;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
}

.chat-input button {
  outline: none;
  background: #4285F4;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: auto;
  color: #FFFFFF;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

