{% extends 'base.html' %}
{% block title %}About page{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block content %}
<div id="about-page">
  <h1>About the Flask Dating App</h1>
  <p>Welcome to the Flask Dating App, a revolutionary platform where cutting-edge AI technology merges with the world of online dating. Our app is built using Flask, JavaScript, Python, JSON, CSS, and HTML, creating a robust environment for connecting with like-minded individuals and embarking on meaningful relationships.</p>
  
  <h2>Engage in Intelligent Conversations</h2>
  <p>Immerse yourself in enlightening dialogues with our AI chat bot, your personal dating assistant. Our intelligent chat bot facilitates engaging and insightful conversations, offering personalized recommendations tailored to your preferences. It acts as your trusted companion, guiding you through the complexities of online connections and enhancing your overall dating experience.</p>

  <h2>Comprehensive Chat History and Connection Management</h2>
  <p>Effortlessly navigate your dating journey with our app's comprehensive chat history and connection management features. Maintain a detailed record of your conversations, allowing you to revisit previous interactions, recall shared interests, and nurture connections over time. Our user-friendly interface empowers you to stay engaged and effectively manage your connections, fostering the growth of meaningful relationships.</p>

  <h2>Safety and Privacy First</h2>
  <p>We prioritize your safety and privacy above all else. Our app is designed with robust security measures to protect your personal information. We encourage you to exercise caution when sharing sensitive details and adhere to best practices for online dating, ensuring a safe and enjoyable experience for all our users.</p>

  <h2>Contact Us</h2>
  <p>Your experience is valuable to us, and we are committed to providing exceptional support. If you have any inquiries or require assistance, our dedicated support team is just a message away. Reach out to us through the app or visit our website for additional information, resources, and guidance.</p>
</div>
<a href="/" class="btn-back">Go back to Home</a>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='chatbot.js') }}"></script>
{% endblock %}
