<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="center-text">
  </div> 
  <div id="body"> 
    <div class="chat-box">
      <div class="chat-box-header">
        ChatBot
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">   
        </div>
        <div class="chat-logs">
        </div><!--chat-log -->
      </div>
      <div class="chat-input">      
        <form>
          <input type="text" id="chat-input" placeholder="Send a message..."/>
        <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>      
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
