<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error {{ error_code }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="login.js"></script> -->
</head>

<body>
  <div class="form-container">
    <div class="form-error">
      <h1>Error {{ error_code }}</h1>
      <p>{{ error_message }}</p>
      <a href="/" class="btn-back">Go back to Home</a>
    </div>
  </div>
</body>

</html>