<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <!-- Form-->
  <div class="form">
    <div class="form-toggle"></div>
    <!-- LOGIN FORM -->
    <div class="form-panel one">
      <div class="form-header">
        <h1>Sign in</h1>
      </div>
      <div class="form-content">
        <form action="/login" method="POST" id="login-form">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="login-username" name="login-username" required="required">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="login-password" name="login-password" required="required">
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox">Remember Me
            </label>
            <a class="form-recovery" href="#">Forgot Password?</a>
          </div>
          <div class="form-group">
            <button type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END LOGIN FORM -->

    <!-- REGISTRATION FORM -->
    <div class="form-panel two">
      <div class="form-header">
        <h1>Register Account</h1>
      </div>
      <div class="form-content">
        <form action="/register" method="POST" id="register-form">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="username">Username
            </label>
            <input type="text" id="register-username" name="username" required="required">
          </div>
          <div class="form-group">
            <label for="password">Password
            </label>
            <input type="password" id="register-password" name="password" minlength="8" maxlength="64" required="required">
          </div>
          <div class="form-group">
            <label for="cpassword">Confirm Password
            </label>
            <input type="password" id="confirm_password" name="confirm_password" minlength="8" maxlength="64" required="required">
          </div>
          <div class="form-group">
            <label for="email">Email Address
            </label>
            <input type="email" id="email" name="email" required="required">
          </div>
          <div class="form-group">
            <button type="submit" id="register-button">Register
            </button>
          </div>
        </form>        
      </div>
    </div>
    <!-- END REGISTRATION FORM -->
    <!-- FORGOT PASSWORD FORM -->
<div class="form-panel three">
  <div class="form-header">
    <h1><a class="form-recovery form-back-to-login" href="#">Back to Login</a></h1>
  </div>
  <div class="form-content">
    <form action="/forgot_password" method="POST" id="forgot-password-form">
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="forgot-password-email" name="email" required="required">
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- END FORGOT PASSWORD FORM -->
<!-- START RESET PASSWORD FORM -->
<div class="form-panel four">
  <h1>Reset Password</h1>
  <form id="reset-password-form" method="POST">
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" id="new-password" name="new_password" required>
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirm_password" required>
    </div>
    <div class="form-group">
      <button type="submit" id="reset-password-button">Reset Password</button>
    </div>
  </form>
</div>
<!-- END RESET PASSWORD FORM -->
  </div>
  <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
